.projects-section-header {
    font-size: 30px;
    font-weight: 700;
}

.settings-box {
    width: 100%;
    display: flex;
    border-top: 1.2px solid var(--link-color);
    flex-direction: column;
}

.settings-header {
    margin: 20px 0 0 0;
    display: flex;
}

.settings-description {
    margin: 12px 0 0 0;
}
