.projects-section {
    flex: 1 0 25%;
    background-color: var(--projects-section);
    border-radius: 32px;
    padding: 35px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projects-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: var(--main-color);
}

.projects-section-header p {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
    color: var(--main-color);
}

.settings-box {
    width: 100%;
    display: flex;
    border-top: 1.2px solid var(--link-color);
    flex-direction: column;
}

.settings-header {
    margin: 20px 0 0 0;
    display: flex;
}

.settings-description {
    margin: 12px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.settings-description-text {
    display: flex;
    width: 90%;
}

.settings-description-text span {
    display: flex;
    width: 95%;
}

.settings-description action {
    align-self: self-end;
}

.link {
    display: flex;
    width: 10%;
}
