.app-sidebar {
    width: 83px;
    height: 230px;
    padding: 40px 16px;
    align-items: center;
    transition: width 0.4s ease;
}

.app-sidebar-container {
    color: var(--main-color);
    color: var(--link-color);
    text-decoration: none;
    padding: 8px 0;
    margin: 30px 0;
    transition: background 0.4s ease;
    border-radius: 50%;
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.app-sidebar-container svg {
    height: 28px;
    width: 28px;
    position: absolute;
}

.app-sidebar-container span {
    visibility: hidden;
    margin-left: 15px;
    transition: margin 0.4s ease;
}

.app-sidebar:hover {
    width: 190px;
}

.app-sidebar:hover .app-sidebar-container {
    transition: all 0.4s ease;
    height: 45px;
    width: 160px;
    border-radius: 19px;
    justify-content: flex-start;
    padding: 8px;
}

/* .app-sidebar:hover .item-1 span { */
/*     transition: all 0.4s ease; */
/* } */
/**/
/* .app-sidebar:hover .item-2 span { */
/*     transition: all 0.8s ease; */
/* } */
/* .app-sidebar:hover .item-3 span { */
/*     transition: all 1.2s ease; */
/* } */

.app-sidebar:hover .app-sidebar-container span {
    display: flex;
    margin-left: 45px;
    font-weight: 600;
    font-size: 18px;
    visibility: visible;
}

.app-sidebar-container:hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
}

.app-sidebar-container.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
}

@media screen and (max-width: 520px) {
    .app-sidebar {
        display: none;
    }
}
