.projects-section {
    flex: 2;
    background-color: var(--projects-section);
    border-radius: 32px;
    padding: 35px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.projects-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: var(--main-color);
}

.projects-section-header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
    color: var(--main-color);
}

.optimise {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.timetable-field {
    margin-left: -30px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 80px;
    justify-content: flex-end;
}

/* Below css is for below the timetable */
.module-field {
    display: flex;
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 330px;
    flex-direction: column;
}

.search-results {
    max-height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.user-modules {
    position: absolute;
    display: flex;
    top: 60px;
    left: 20px;
    flex-wrap: wrap;
}
