.box {
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.background {
    display: flex;
    position: absolute;
    width: 98%;
    height: 95%;
    opacity: 0.5;
    border-radius: 16px;
}

.trash {
    position: absolute;
    right: 20px;
    top: 10px;
}

.code {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

.name {
    margin-left: 10px;
}
