.app-cover {
    --app-cover-size: calc(30 * var(--lid-height));

    --lid-height: 1.2px;
    --lid-width: calc(12.5 * var(--lid-height));

    --before-lid-width: calc(2.5 * var(--lid-height));
    --before-lid-height: calc(1.5 * var(--lid-height));

    --btn-icon-width: calc(10.5 * var(--lid-height));
    --btn-icon-height: calc(14.5 * var(--lid-height));
    --btn-icon-margin: calc(-7.25 * var(--lid-height));

    --box-height: calc(13 * var(--lid-height));

    --inner-box-width: calc(8.5 * var(--lid-height));
    --inner-box-height: calc(11 * var(--lid-height));

    --btn-lines-width: calc(0.75 * var(--lid-height));
    --btn-lines-height: calc(7.5 * var(--lid-height));

    --transition-time: 0.3s;
    --lid-end-height: calc(-3 * var(--lid-height));
    --box-end-rotate: -10deg;
}

.app-cover {
    position: relative;
    display: flex;
    width: var(--app-cover-size);
    height: var(--app-cover-size);
    /* background-color: #fff; */
    /* background-color: #fc8b77; */
    background-color: #ff6e77;
    opacity: 0.8;
    background-blend-mode: screen;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    align-items: center;
}

.app-cover:hover {
    width: 140px;
    border-radius: 40px;
    /* background-color: #969ab0; */
    transition: all 0.5s ease;
}

.checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    z-index: 3;
}

.bin-icon {
    position: absolute;
    top: 50%;
    left: 11.5px;
    /* left: 10px; */
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    width: var(--btn-icon-width);
    height: var(--btn-icon-height);
    margin: var(--btn-icon-margin) auto 0 auto;
    border-radius: 50%;
    z-index: 2;
}

.app-cover:hover .bin-icon {
    visibility: visible;
}

.lid {
    position: relative;
    width: var(--lid-width);
    height: var(--lid-height);
    left: calc(-1 * var(--lid-height));
    border-radius: var(--lid-height);
}

.lid:before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--lid-height));
    right: 0;
    left: 0;
    width: var(--before-lid-width);
    height: var(--before-lid-height);
    margin: 0 auto;
    border-radius: calc(2.5 * var(--lid-height)) calc(2.5 * var(--lid-height)) 0
        0;
}

.box {
    position: relative;
    height: var(--box-height);
    margin-top: calc(0.5 * var(--lid-height));
    border-radius: 0 0 calc(2 * var(--lid-height)) calc(2 * var(--lid-height));
}

.box-inner {
    position: relative;
    top: var(--lid-height);
    width: var(--inner-box-width);
    height: var(--inner-box-height);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0 0 calc(1.25 * var(--lid-height))
        calc(1.25 * var(--lid-height));
}

.bin-lines {
    position: relative;
    top: calc(1.75 * var(--lid-height));
    margin: 0 auto;
}

.bin-lines,
.bin-lines:before,
.bin-lines:after {
    width: var(--btn-lines-width);
    height: var(--btn-lines-height);
    border-radius: var(--lid-height);
}

.bin-lines:before,
.bin-lines:after {
    content: '';
    position: absolute;
}

.bin-lines:before {
    left: calc(-2.5 * var(--lid-height));
}

.bin-lines:after {
    left: calc(2.5 * var(--lid-height));
}

.lid,
.lid:before,
.box,
.bin-lines,
.bin-lines:before,
.bin-lines:after {
    background-color: #f44336;
    transition: background-color 0.2s ease;
}

/* .checkbox:checked ~ .bin-icon .lid, */
/* .checkbox:checked ~ .bin-icon .lid:before, */
/* .checkbox:checked ~ .bin-icon .box, */
/* .checkbox:checked ~ .bin-icon .box-inner { */
/*     background-color: #fff; */
/* } */
/**/
/* .checkbox:checked ~ .bin-icon .bin-lines, */
/* .checkbox:checked ~ .bin-icon .bin-lines:before, */
/* .checkbox:checked ~ .bin-icon .bin-lines:after { */
/*     background-color: #03a9f4; */
/* } */

.app-cover:hover .bin-icon .box {
    transform: rotateZ(var(--box-end-rotate));
    transition: all var(--transition-time) ease;
    /* animation: shake 0.8s ease 0.1s; */
}

.app-cover:hover .bin-icon .lid {
    top: var(--lid-end-height);
    transform: rotateZ(15deg);
    transition: all var(--transition-time) ease;
    animation: lift-up var(--transition-time) ease;
    /* animation: li0.8s ease 0.1s, shake_u 0.8s ease 0.1s, */
    /* shake_l 0.2s ease 0.8s; */
}

@keyframes lift-up {
    0% {
        top: 0;
    }
    100% {
        top: var(--lid-end-height);
    }
}

.app-cover .description {
    visibility: hidden;
    display: flex;
    position: absolute;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    margin-left: 10px;
}

.app-cover:hover .description {
    visibility: visible;
    display: flex;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    margin-left: 30px;
    transition: all 0.5s ease;
}
